extends layout

block content
  h1= title
  p ERROR 404 <br />
    a(href='/') Index <br />
    +classes

mixin classes()
  -var rand = ["still", "rotate", "shrink"]
  -var max = 50
  -var min = 20
  -var divs = Math.floor(Math.random() * (max - min + 1) + min)
    //loop through and make divs with random classes based on the rand var
  -var i = 0
        while i < divs
          -var divs2 = Math.floor(Math.random() * 3);
          div(class=rand[divs2]) 404
          -i++




