extends layout

block content
  h1= title
  p Welcome to #{title} <br />
    a(href='404') Error Page <br />
    form(action="/", method="post")
      .form-group
        label Number <br />
        select(name="drop")
          +dropdown
        input(type="submit")
    table
      +table(input)

mixin dropdown()
  // values for dropdown
  -var options = [3,4,5,10,20,1000];
  // loop to populate dropdown
  each option in options
    option(value=option)= option


mixin grid(input)
  int i = 0;


mixin table(input)
  -var i = 0;

    tbody
      while i < input
        tr
        -var j = 0;
          while j < input
            -var color = ((1<<24)*Math.random()|0).toString(16);
            td(style='background-color:#' + color + ';')= color
              -j++;
          -i++;
