extends layout

block content
    h2= title
    .links
    a(href='/') Index <br />
    a(href='about') About page <br />
    form(action="/form", method="post")
        .form-group
            label Name <br />
            input(type="text", name="name")
        .form-group
            label Email <br />
            input(type="text", name="email")
        .form-group
            label Comments <br />
            input(type="text", name="comments")
        .submit
            input(type="submit")