extends layout

block content
    .links
        a(href='/') Index <br />
        a(href='form') Form page <br />
        a(href='about') About page <br />
    h2= title
    .form-group
        .name
            p Name: #{name}
        .email
            p Email: #{email}
        .comments
            p Comments: #{comments}